*{background-color:bisque ;}

h1{
font-size:large;
color:maroon;
font-weight:600;
text-align:center
}

h2{
font-size:medium;
color:maroon;
}

h3{
font-size:small;
color:maroon;
}

button{
background-color:maroon;
color:bisque;
text-decoration: none;
padding: 20px;
}